@page
@model IndexModel
@{
    ViewData["Title"] = "STIX";
}

<div class="filterSortContainer">
    <a href=""><button type="button">Sort</button></a>
    <a href=""><button type="button">Filter</button></a>
</div>

<div class="overviewTableContainer flex">
    <table class="overviewTable">
        <tr>
            <th class="incidentHeader">Title</th>
            <th class="descriptionHeader">Description</th>
            <th class="addedOnHeader">Added On</th>
            <th class="viewMoreHeader">View More</th>
        </tr>
        <!-- loop, can change it to just grab everything from a db-->
        @*@for (int i = 0; i < 15 ; i++)*@
        @*@foreach(@ViewData.incident in @ViewData.incidentList)*@
        @foreach (var item in @Model.incidentList)
        {
            <tr>
                @*<td class="leftTableCell">@Model.incidentList[0].id</td>*@
                <td class="centerTableCell">@item.title</td>
                <td class="centerTableCell">@item.summary</td>
                <td class="centerTableCell">@item.year</td>
                <td class="rightTableCell">"x"</td>
            </tr>
        }
    </table>

    @section scripts{
        <script type="text/javascript">
            $(function() {
                $.get('/Index/Incidents').done(function(incidents) {
                    $.each(incidents, function(i, incident) {
                        var item = `<li>
                                                    <strong>${incident.id} ${incident.referenceID}</strong>
                                                    (£${incident.pending})</li>`;
                        $('#incident-list').append(item);
                    });
                });
            });
        </script>
    }
    </div>
