@page
@model Moderator
@{
    ViewData["Title"] = "STIX";
}

    <div class="filterSortContainer">
        <a href=""><button type="button">Sort</button></a>
        <a href=""><button type="button">Filter</button></a>
    </div>
    Incidents to review:
    <di class="tableContainer align-items-center ms-auto">
        <table class="table table-responsive table-condensed table-hover">
        <thead>
            <tr class="tableHeader">
                <th class="incidentHeader">Incident Name</th>
                <th class="descriptionHeader">Description</th>
                <th class="addedOnHeader">Added On</th>
                <th class="viewMoreHeader">View More</th>
            </tr>
        </thead>
            
    <!-- loop, can change it to just grab everything from a db-->
    @for (int i = 0; i < 15 ; i++)
    {
        <tbody>
            <tr>
                <td class="leftTableCell">@Model.incidentName</td>
                <td class="centerTableCell">@Model.description</td>
                <td class="centerTableCell">@Model.addedOn</td>
                <td class="rightTableCell">"x"</td>
            </tr>
        </tbody>  
    }
        </table>
    </div>
    <blockquote class="blockquote text-white">
    Manage users:
        @foreach (@KeyValuePair<string, string> entry in @Model.users) 
        {
            <p class="mb-0"> @entry.Key :   @entry.Value </p>
        }
    </blockquote>
    
